/*
Color Palette:
background color:  
font color:        
secondary color:   
tertiary color:    
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Oswald&display=swap');


:root {
    --background_color: #3F0071;
    --font_color: #CBF1F5;
    --secondary_color: #E3FDFD;
    --box: #150050;
    --link: #3282B8;
    --hover: #E84545;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

body {
    background-image: linear-gradient(#150050, #3F0071, #3F0071, #3282B8, #3282B8);
    color: var(--secondary_color);
}

header {
    color: var(--font_color);
    margin: 0 2rem;
    font-family: 'Oswald', regular;
    letter-spacing: 0.2rem;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 3rem;
    animation-name: appear;
    animation-duration: 2s;
    text-shadow: 0px 4px 2px #3282B8;
}

.ImageCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7rem 4rem;
    animation-name: appear;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
}

.ImageCard img {
    border-radius: 30px;
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes thick {
    from {border: 0px solid;}
    to {border: 8px solid;}
}

/*.ImageCard img:hover {
    animation-name: thick;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}
*/
.ImageCard a {
    text-decoration: none;
    color: var(--link);
}

.cardText {
    background-color: var(--box);
    text-align: center;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 2rem;
}

a:hover {
    color: var(--hover);
}

.yellow img:hover {
    filter: drop-shadow(0em .2em .2em yellow);
}

.red img:hover {
    filter: drop-shadow(0em .2em .2em #ff6161);
}

.green img:hover {
    filter: drop-shadow(0em .2em .2em #66ff00);
}

.gray img:hover {
    filter: drop-shadow(0em .2em .2em lightgray);
}

.white img:hover {
    filter: drop-shadow(0em .2em .2em white);
}

.blue img:hover {
    filter: drop-shadow(0em .2em .2em cyan);
}

.salmon img:hover {
    filter: drop-shadow(0em .5em .2em #FA8072);
}

img:hover {
    transform: scale(1.05);
    filter: brightness(150%);
    filter: drop-shadow(0em .3em .3em);
}
img {
    transition: transform .2s, filter .3s; /* Animation */
}

@media (min-width: 768px) {
    header {
        font-size: 1.6rem;
    }
    
    .gallery {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .ImageCard {
        max-width: 30%;
    }
}